.logo {
	margin: 1em auto 0 auto;
	text-align: center;
	width: 50%;
	font-family: "Futura";
	font-size: 7em;
	/*border: 1px solid black;*/
}

#search-form {
	text-align: center;
}

#search {
	margin: 1em auto;
}

.broken-body {
	background: url("../images/robot.png") 100% 1em no-repeat;
	margin-right: 205px;
}

.broken {
	text-align: left;
	width: 50%;
	margin: 0 auto;
	/*border: 1px solid black;*/
}

#buttons {
	text-align: center;
	border-radius: none;
}

#search-again {
	margin: 0 auto;
}

.btn {
	margin: 1em;
	background-color: #F2F2F2;
	color: #666666;
	border-radius: 2px;
	font-weight: bold;
	font-size: 1em;
	font-family: "arial", "sans-serif";
}

.btn:hover {
	color: black;
	text-decoration: none;
}

.speech {
	border: 1px solid #DDD;
	width: 40em;
	padding: 0;
	margin: 0 auto;
	border-radius: 5px;
}

.speech input {
	border: 0;
	width: 15em;
	display: inline-block;
	height: 3em;
}

.speech img {
	float: right;
	width: 40px
}

#view.ng-enter {
	animation: fadein 1s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
