<div id="info-block">
	<p>As you've probably figured out by now, this isn't the real Google.</p>
	According to the <a href="http://www.nielsen.com/us/en/insights/reports/2015/the-total-audience-report-q4-2014.html" target="_blank">Nielsen's Total Audience Report</a>, Americans aged 18 and older spend more than 11 hours a day watching TV, listening to the radio, or using smartphones and other electronic devices. It may be hard to believe, but we once survived just fine without the Internet, social media, and all of our other gadgets that we own today.</p>
	<p>So why don't you unplug for a day and go "low-tech" with any of the suggestions in this app?</p>
	<p>Your brain will thank you.</p>
	<p id="by-block">Coded by <a href="http://www.emilychen.net" target="_blank">Emily Chen</a>.</p>
</div>